[submodule "src/packages/testsubmodule"]
	path = src/packages/testsubmodule
	url = git@github.com:dexlens/testsubmodule.git
[submodule "src/packages/better-prompt"]
	path = src/packages/better-prompt
	url = git@github.com:dexlens/better-prompt.git
[submodule "apps/bot"]
	path = apps/bot
	url = git@github.com:dexlens/bot.git
[submodule "apps/points-farming"]
	path = apps/points-farming
	url = git@github.com:dexlens/points-farming.git
[submodule "src/packages/encryptionUtils"]
	path = src/packages/encryptionUtils
	url = git@github.com:dexlens/encryptionUtils.git
[submodule "src/packages/consumeTweetAndLearn"]
	path = src/packages/consumeTweetAndLearn
	url = git@github.com:dexlens/consumeTweetAndLearn.git
[submodule "src/packages/walletUtils"]
	path = src/packages/walletUtils
	url = git@github.com:dexlens/walletUtils.git
[submodule "src/packages/chainUtils"]
	path = src/packages/chainUtils
	url = git@github.com:dexlens/chainUtils.git
[submodule "apps/announcements-bot"]
	path = apps/announcements-bot
	url = git@github.com:dexlens/announcements-bot.git
